h1{
    color: red;
    text-align: center;
    font-weight: bold;
    text-shadow: 3px 2px white;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    font-size: 48px;
}
body{
    background-color: lightgray;
}

<<<<<<< HEAD
#btn btn-primary{
    float: right;

}
.noflex{
    display: inline !important;
}
=======
>>>>>>> 657acd9c1214c4d228e4656aebcdfbb73ce09f4c
